[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "==2.22.0"
tqdm = "*"
coloredlogs = "*"
matplotlib = "*"

[dev-packages]
bumpversion = "~=0.6.0"
nose = "*"
responses = "*"
twine = "*"
importlib-metadata = "*"
nose-watch = "*"
pyyaml = "*"
argh = "*"

[requires]
python_version = "3"
